:root{
   --color-de-fondo: #F5F5F5;
   --color-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-de-link);
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Sección Menu*/

section.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;

    .menu__header {
        display: flex;
        align-items: center;
    }

    .menu__header img {
        margin-right: 10px;
    }

    .menu nav {
        display: flex;
        align-items: center;
    }

    .menu__list {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .menu__list__item {
        margin-right: 0;
        margin-left: 20px;
    }

}

/*Sección Title*/
section.title{
    display: flex;
    align-items: center;
    justify-content: space-around;

    .title__div {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .title__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 20px;
    }

    .title__bio {
        font-size: xx-large;
        font-weight: bold;
        margin-bottom: 0;
    }

    .title__subsection {
        font-size: medium;
    }

    .title__profile {
        font-style: normal;
    }

}

/*Sección About*/

section.about{

}

/*Sección Hobbies*/

section.hobbies{
    
}

/* Experiencia Académica*/

section.academic{

}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.form_contacto{

}

/*footer*/

section.footer{
   
}

/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}